# Vikings spider every day at midnight
0 0 * * * cd /scrapy_tools && /usr/local/bin/python -m scrapy crawl vikings >> /var/log/scrapy_vikings.log 2>&1

# Norsemen spider every day at 1 AM
0 1 * * * cd /scrapy_tools && /usr/local/bin/python -m scrapy crawl norsemen >> /var/log/scrapy_norsemen.log 2>&1

# Vikings NFL spider every day at 2 AM
0 2 * * * cd /scrapy_tools && /usr/local/bin/python -m scrapy crawl vikings_nfl >> /var/log/scrapy_vikings_nfl.log 2>&1
