{% extends "base.html" %}

{% block title %}Characters List{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-md-6">
        <h2>Character List</h2>
    </div>
    <div class="col-md-6">
        <form method="GET" action="" class="d-flex">
            <input type="text" name="q" value="{{request.GET.q}}" class="form-control me-2" placeholder="Search...">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Character</th>
            <th>Actor</th>
            <th>Image</th>
            <th>TV Series</th>
        </tr>
    </thead>
    <tbody>
        {% for character in characters %}
        <tr>
            <td class="align-middle">{{ character.name }}</td>
            <td class="align-middle">{{ character.actor.name }}</td>
            <td>
                {% if character.image_url %}
                <img src="{{ character.image_url }}" alt="Character Image" width="80">
                {% elif character.actor.image_url %}
                <img src="{{ character.actor.image_url }}" alt="Actor Image" width="80">
                {% else %}
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Empty Image" width="80">
                {% endif %}
            </td>
            <td class="align-middle">{{ character.get_tv_series_display }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">No characters found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
